body {
    margin: 0px;
    background-color: rgb(36, 36, 36);
    background-attachment: local;
    
}

#teste {
    position: absolute;
    text-align: center;
    top: 300px;
    left: 500px;
    color: aliceblue;
}

#divesquerda {
    position: fixed;
    background-color: black;
    width: 385px;
    height: 100%;
    
}

#icone-spotify {
    
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}



#icone-casa {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 100px;
    left: 25px;
}

#icone-lupa {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 145px;
    left: 25px;
}

#icone-lib {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 185px;
    left: 19px;

    color: white;
}

#div-criar {
    position: absolute;
    width: 24px;
    height: 22.5px;
    top: 250px;
    left: 29px;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
    color: white;
    text-align: center;
    padding-top: 3px;
    color: rgba(0, 0, 0, 0.582);
    font-size: 16px;
    
}

h1#criar {
    position: absolute;
    top: 247px;
    left: 70px;
    font-size: 12.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);

}

h1#criar > a {
    text-decoration: none;
    color: gray;

}

h1#criar > a:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;

}

h1#spotify {
    margin-top: -43px;
    margin-left: 67px;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h1#inicio {
    position: absolute;
    top: 98px;
    left: 70px;
    font-size: 12.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);

}

h1#inicio > a {
    text-decoration: none;
    color: gray;

}

h1#inicio > a:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;

}

h1#buscar {
    position: absolute;
    top: 140px;
    left: 70px;
    font-size: 12.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;

    

}

h1#buscar > a {
    text-decoration: none;
    color: gray;

}

h1#buscar > a:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;

}

h1#lib {
    position: absolute;
    top: 187px;
    left: 70px;
    font-size: 12.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);

}

h1#lib > a {
    text-decoration: none;
    color: rgb(255, 255, 255);

}

h1#lib > a:hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;

}



#divcima {
    position: fixed;
    width: 71.8%;
    height: 63px;
    margin-left: 385px;
    background-color: rgba(0, 0, 0, 0.479);
    background-attachment: unset;
}



