body {
    background-image: url(1208868.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 640px;
}

#main {
    position: relative;
    box-shadow: 0 38px 400px -80px rgba(0, 0, 0, 0.575);
    top: 7%;
    backdrop-filter: blur(25px);
    max-width: 450px;
    min-width: none;
    height: 550px;
    min-height: 350px;
    border-radius: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


#selfie {
    position: relative;
    top: -35px;
    margin: auto;
    width: 140px;
    height: 140px;
    border-radius: 75%;
    object-fit: cover;
    display: block;
    box-shadow: 0 8px 100px -30px rgba(0, 0, 0, 0.089);
}

p {
    position: relative;
    top: -120px;
    left: 110px;
    color: rgb(0, 0, 0);
}

#insta {
    position: relative;
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    transition: 0.2s;
    
}

#insta:hover {
    position: relative;
    top: 50px;
    left: 49px;
    width: 53px;
    height: 53px;
    cursor: pointer;
    transition: 0.2s;
    
}

#gith {
    position: relative;
    top: -47px;
    left: 150px;
    width: 37px;
    height: 37px;
    transition: 0.2s;
    
}

#gith:hover {
    position: relative;
    top: -49px;
    left: 149px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;
    
}


