@media screen and (max-width: 1200px) {
    body > header > div#rodapé > section#menu {
        position: absolute;
        top: 45px;
        left: 55%;
        width: 35%;
        transition: .5s;
    }
    

    
}

@media screen and (max-width: 992px) {
    body > header > div#rodapé > span {
        position: absolute;
        left: 85%;
        margin-left: 2%;
        margin-top: 7%;
        color: rgb(75, 75, 75);
    }

    body > header > div#rodapé > h1.titu {
        
        color: rgb(75, 75, 75);
        font-size: 160%;
        margin-left: 5%;
        margin-top: 7%;
    
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body > header > div#rodapé > h2 {
        position: absolute;
        top: 25%;
        color: rgb(75, 75, 75);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 95%;
        margin: 5%;
    }
    
    body > header > div#rodapé > h2 > p {
        color: rgb(75, 75, 75);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 110%;
        margin: 0%;
    }

    body > header > div#rodapé > img#img_foto {
        position: absolute;
        top: 40%;
        left: 10%;
        height: 383px;
    
    }

    body > header > div#rodapé > section#menu {
        position: absolute;
        top: 11%;
        left: 50%;
        width: 35%;
        transition: .5s;
    }
    
    body > header > div#rodapé > section#menu  a.a {
        font-size: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(75, 75, 75);
        margin-left: 7%;
        text-decoration: none;
    
    }

}

@media screen and (max-width: 768px) {
    body > header > div#rodapé > section#menu {
        position: absolute;
        top: 9%;
        left: 45%;
        width: 45%;
        transition: .5s;
    }
    
}



@media screen and (max-width: 668px) {
    body > header > div#rodapé > section#menu {
        position: absolute;
        top: 6%;
        left: 35%;
        width: 50%;
        transition: .5s;
    }

    section#menu  a.a {
        font-size: 90%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(75, 75, 75);
        margin-left: 7%;
        text-decoration: none;
    
    }
    
}