@media screen and (min-width: 768px) and (max-width: 992px) {
    div#img {
        
    }

    form {
        float: inline-end;
    }

    section {
        width: 75vw;
        height: 70vh;
        transition: .5s;
    }

    form > button#btn {
        position: relative;
        left: 140%;
        transform: translate(-50%);
        transition: .5s;
        
    }
    
}


@media screen and (min-width: 992px) {
    

    form > button#btn {
        position: relative;
        left: 143%;
        transform: translate(-50%);
        
    }
    
}