
@media screen and (min-width: 750px) and (max-width: 992px) {

    
    
    section {
        position: absolute;
        width: 600px;
        height: 500px;
    }

    

}

@media screen and (min-width: 992px) and (max-width: 1400px) {

    
    
    section {
        position: absolute;
        width: 700px;
        height: 500px;
        
    }

}
