body {
    /*background-color: #4e4f5d;*/
    background-image: linear-gradient(to right, #4e4f5d, #ffb68f);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

h1#bti {
    margin: 0px;
    color: aliceblue;
    text-shadow: 1px 1px 10px black;
    
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #35353b;
    
    width: 75vw;
    height: 70vh;
    box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.705);
    border-radius: 20px;
    
    transform: translate(-50%, -50%);
    transition: .5s;
}

div#img {
    background-image: url("https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067_960_720.png");
    width: 100%;
    height: 30%;
    background-size: cover;
    background-position: center center;
    float: top;
    border-radius: 20px;
    background-attachment: fixed;
}

form {
    position: relative;
    margin-top: 20vh;
    width: 45%;
    height: 100%;
    left: 50%;
    float: left;
    transform: translate(-50%);

}

form > h1 {
    text-align: center;
    margin-top: 47px;
    color: #ffb68f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 39px;
   
    
}
input#user {
    padding: 10px 10px;
    margin-bottom: 20px;

}
input#sen {
    padding: 10px 10px;
    margin-top: 20px;
    
}
form > input.campo {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 7px;
    width: 95%;
    background-color:  #303038;
    border: 1px solid #ffb68f;
}

form > input.campo:hover {
    box-shadow: 1px 1px 3px black;
}

form > button#btn {
    position: relative;
    background-color: #ffb68f;
    border-radius: 7px;
    
    border: .5px solid black;
    padding: 5px 5px;
    left: 50%;
    width: 110%;
    
    
    margin-top: 25px;
    font-size: large;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-50%);
    transition: .5s;
    
}

form > button#btn:hover {
    box-shadow: 2px 2px 5px black;
    transition: .1s;
    cursor: pointer;
}